.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: beige;
    border: solid black;
    box-sizing: border-box;
};

.content-box {
    width: 90%;
    max-width: 800px;
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
};

@media (max-width: 768px) {
    .content-box {
        max-width: 90%;
    }
};
